@page "/MyDay"
@using MudBlazor

<h1>My day</h1>
<button class="btn btn-primary" @onclick="Refresh">Refresh</button>
<button class="btn @(this.tracking ? "btn-primary":"btn-secondary")" @onclick="ToggleTrackingAsync">Toggle Tracking</button>
<button class="btn btn-primary" @onclick="RecordState">Record system state</button>

<MudTable Items="@myActivities" 
            Hover="true" 
            Breakpoint="Breakpoint.Sm" 
            Loading="@loading" 
            LoadingProgressColor="Color.Info"
            SortLabel="Sort By">

    <HeaderContent>
        <MudTh>Started</MudTh>
        <MudTh>Description</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Started">@context.Started</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
    </RowTemplate>
</MudTable>