@page "/"
@using TrackYourDay.Core.Activities;
@using TrackYourDay.Core.Breaks;
@using TrackYourDay.Core;


<h1>
    <img src="Images/refresh-button.png" alt="Refresh" style="cursor: pointer" width="35px" height="35px" @onclick="Refresh" />
    Daily Overview
</h1>
<div>
    <p>
        You Worktime left for Today is: @workday.WorktimeLeft.Hours h @workday.WorktimeLeft.Minutes m @workday.WorktimeLeft.Seconds s
    </p>
    
    <p>
        Your Overhours for Today are: @workday.Overhours.Hours h @workday.Overhours.Minutes m @workday.Overhours.Seconds s
    </p>

    <hr />

    <p>
        You have Left Breaks for: @workday.BreaksLeft.Hours h @workday.BreaksLeft.Minutes m @workday.BreaksLeft.Seconds s
    </p>

    <p>
        You have Valid Breaks for Today: @workday.ValidBreaksUsed.Hours h @workday.ValidBreaksUsed.Minutes m @workday.ValidBreaksUsed.Seconds s
    </p>

    <hr />

    <p>
        You were active Today for: @workday.TimeOfAllActivities.Hours h @workday.TimeOfAllActivities.Minutes m @workday.TimeOfAllActivities.Seconds s
    </p>

    <p>
        You had All Breaks for: @workday.TimeOfAllBreaks.Hours h @workday.TimeOfAllBreaks.Minutes m @workday.TimeOfAllBreaks.Seconds s
    </p>

</div>

@code {
    [Inject]
    private ActivityTracker activityTracker { get; set; }
    [Inject]
    private BreakTracker breakTracker { get; set; }

    private Workday workday;

    protected override void OnInitialized()
    {
        this.Refresh();
    }

    private void Refresh()
    {
        this.workday = Workday.CreateBasedOn(this.activityTracker.GetEndedActivities(), this.breakTracker.GetEndedBreaks());
    }
}
