<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="Images/default-clock-icon.png" alt="Clock icon" aria-hidden="true" width="35" height="35" />
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">Track Your Day</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <MudIcon Icon="@Icons.Material.Filled.Menu" />
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
                @if (!@IconMenuActive)
                {
                    <label>Home</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userTasks">
                <MudIcon Icon="@Icons.Material.Filled.Task" />
                @if (!@IconMenuActive)
                {
                    <label>User Tasks</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activities">
                <MudIcon Icon="@Icons.Material.Filled.WorkOutline" />
                @if (!@IconMenuActive)
                {
                    <label>Activities</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="breaks">
                <MudIcon Icon="@Icons.Material.Filled.FreeBreakfast" />
                @if (!@IconMenuActive)
                {
                    <label>Breaks</label>
                }
            </NavLink>
        </div>

        @*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="timelogging">
                <MudIcon Icon="@Icons.Material.Filled.ManageHistory" />
                @if (!@IconMenuActive)
                {
                    <label>Time Logging</label>
                }
            </NavLink>
        </div>
 *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analytics">
                <MudIcon Icon="@Icons.Material.Filled.PieChart" />
                @if (!@IconMenuActive)
                {
                    <label>Analytics</label>
                }
            </NavLink>
        </div>
    </nav>
</div>

<div class="bottom-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="https://github.com/Skuty/TrackYourDay/issues/new/choose">
            <MudIcon Icon="@Icons.Material.Filled.BugReport" />
            @if (!@IconMenuActive)
            {
                <label>Bug or Feature</label>
            }
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="settings">
            <MudIcon Icon="@Icons.Material.Filled.Settings" />
            @if (!@IconMenuActive)
            {
                <label>Settings</label>
            }
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" @onclick="CloseApplication" style="cursor: pointer">
            <MudIcon Icon="@Icons.Material.Filled.PowerSettingsNew" />
            @if (!@IconMenuActive)
            {
                <label>Exit</label>
            }
        </NavLink>
    </div>

    <div class="icon-menu-arrow">
        @if (!@IconMenuActive)
        {
            <MudIcon Icon="@Icons.Material.Filled.ArrowBack" style="color: white;" @onclick="ToggleIconMenu" />
        }
        else
        {
            <MudIcon Icon="@Icons.Material.Filled.ArrowForward" style="color: white;" @onclick="ToggleIconMenu" />
        }
    </div>
</div>

@code {
    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = true;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }

    [Inject] private IDialogService DialogService { get; set; }

    private async void CloseApplication()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Closing application",
            "Do You really want to Close Application?",
            yesText: "Close!", cancelText: "Cancel");
        string state = result == null ? "Canceled" : "Close!";

        if (state == "Close!")
        {
            System.Diagnostics.Process.GetCurrentProcess().Kill();
        }
    }
}