@using MudBlazor

<h3>TYD</h3>
<div style="display: flex; align-items: center;">
   <MudTextField T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Pause" Format="hh\:mm" />
   <MudTextField T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DataThresholding" Format="hh\:mm" />
    <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Task" Placeholder="User Task" />
   <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" />
   <MudIconButton Icon="@Icons.Material.Filled.Stop" />
</div>

@code {

}
