@using MudBlazor

<div class="d-flex align-items-center border" style="width: fit-content;">
    <div>
        <MudTextField style="margin-top: 0px; width: 80px;" T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.WorkOutline" Format="hh\:mm" ReadOnly="true" />
    </div>
    <div>
        <MudTextField style="margin-top: 0px; width: 80px;" T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.FreeBreakfast" Format="hh\:mm" ReadOnly="true" />
    </div>
    @*    
    <div>
        <MudTextField style="margin-top: 0px; width: 80px;" T="TimeSpan" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.ManageHistory" Format="hh\:mm" ReadOnly="true" />
    </div>
    *@
    <div>
        <MudIcon Icon="@Icons.Material.Filled.Task" />
    </div>
    <div>
        <MudIconButton style="margin-top: 0px;" Icon="@Icons.Material.Filled.PlayArrow" Size="Size.Small" />
    </div>
    <div>
        <MudIconButton style="margin-top: 0px;" Icon="@Icons.Material.Filled.Stop" Size="Size.Small" />
    </div>
    <div>
        <MudTextField style="margin-top: 0px; width: 50px;" T="TimeSpan" Format="hh\:mm" ReadOnly="true" />
    </div>
    <div>
        <MudTextField style="margin-top: 0px;" T="string" Placeholder="User Task" />
    </div>
    @*     
    <div>
        <MudIconButton style="margin-top: 0px;" Icon="@Icons.Material.Filled.AutoAwesome" Size="Size.Small" Disabled="true" />
    </div> 
    *@
</div>

@code {

}
